<!-- <header>
  <nav class="flex items-center justify-between flex-wrap bg-blue-900 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <div class="fill-current h-8 w-8 mr-2" width="54" height="54">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png"
          alt=""
        />
      </div>
      <span class="font-semibold text-xl tracking-tight">My app </span>
    </div>
    <div class="block lg:hidden">
      <button
        class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white"
      >
        <svg
          class="fill-current h-3 w-3"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
        </svg>
      </button>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="text-md lg:flex-grow">
        <a
          routerLink="home"
          class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4"
        >
          Home
        </a>
        <a
          routerLink="post"
          class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4"
        >
          Post
        </a>
        <a
          routerLink="formulario"
          class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4"
        >
          Formulario
        </a>
      </div>

      <div>
        <a *ngIf="logeado == 'true'; else other">
          <button (click)="logout()">
            <a
              *ngIf="logeado == 'true'"
              class="ml-5 inline-block text-md px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0"
              >logout</a
            >
          </button>
        </a>
        <ng-template #other>
          <a
            routerLink="login"
            class="inline-block text-md px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0"
            >login</a
          >
        </ng-template>
      </div>
    </div>
  </nav>
</header> -->

<mat-toolbar color="primary">
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png"
    width="54"
    height="54"
    alt=""
  />
  <span class="example-a">My App - Material y Guard</span>
  <a mat-button routerLink="home" class="example-a">Home</a>
  <a mat-button routerLink="post" class="example-a">Post</a>
  <a mat-button routerLink="formulario" class="example-a">Formulario</a>
  <a class="example-spacer"></a>

  <button
  (click)="logout()"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with heart icon"
    *ngIf="logeado == 'true'; else otheri"
  >
    <a>
      <mat-icon>logout</mat-icon>
    </a>
  </button>

  <ng-template #otheri>
    <button
      mat-icon-button
      routerLink="login"
      class="example-icon"
      aria-label="Example icon-button with heart icon"
    >
      <a>
        <mat-icon>account_circle</mat-icon>
      </a>
    </button>
  </ng-template>
</mat-toolbar>
