/* example-form {
  min-width: 150px;
  max-width: 150px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
input {
  outline: none;
   border: solid 2px red;
}

td {
  padding-right: 8px;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-disabled {
  display: inline-block;
} */