<!-- <div class="w-[50%] mx-auto my-5 shadow-xl px-5">
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Nombre</mat-label>
          <input matInput type="text">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Apellido Paterno</mat-label>
          <input matInput type="text">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Apellido Materno</mat-label>
          <input matInput type="text">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Username</mat-label>
          <input matInput type="text">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput type="text">
        </mat-form-field>
        
      
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <mat-label>Confirma Contraseña</mat-label>
            <input matInput type="password">
          </mat-form-field></td>
        </tr></table>
        
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width">
            <mat-label>Region</mat-label>
            <input matInput placeholder="Ej. Ucayali">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <mat-label>Pais</mat-label>
            <input matInput placeholder="Ej. Perú">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <mat-label>Codigo postal</mat-label>
            <input matInput placeholder="Ej. 94105">
          </mat-form-field></td>
        </tr></table>
      </form>
      
      <div class="example-button-row py-3 text-center">
        <button mat-fab extended color="primary">
          <mat-icon>save</mat-icon>
          Guardar
        </button>
      </div>

</div>
   -->
