<!-- <div class="w-2/5 mx-auto mt-10">
  <div class="shadow-xl px-5 py-5">
    <div class="relative z-0 w-full mb-6 group">
      <input
        type="text"
        [(ngModel)]="username"
        id="floating_username"
        class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" "
        required
      />
      <label
        for="floating_username"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Username</label
      >
    </div>
    <div class="relative z-0 w-full mb-6 group">
      <input
        type="email"
        [(ngModel)]="email"
        id="floating_email"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" "
        required
      />
      <label
        for="floating_email"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Email address</label
      >
    </div>
    <div class="relative z-0 w-full mb-6 group">
      <input
        type="password"
        [(ngModel)]="password"
        id="floating_password"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" "
        required
      />
      <label
        for="floating_password"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Password</label
      >
    </div>
    <div class="relative z-0 w-full mb-6 group">
      <input
        type="password"
        [(ngModel)]="repeatPassword"
        id="floating_repeat_password"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" "
        required
      />
      <label
        for="floating_repeat_password"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Confirm password</label
      >
    </div>
    <div class="grid md:grid-cols-2 md:gap-6">
      <div class="relative z-0 w-full mb-6 group">
        <input
          type="text"
          [(ngModel)]="firstName"
          id="floating_first_name"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "
          required
        />
        <label
          for="floating_first_name"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >First name</label
        >
      </div>
      <div class="relative z-0 w-full mb-6 group">
        <input
          type="text"
          [(ngModel)]="lastName"
          id="floating_last_name"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "
          required
        />
        <label
          for="floating_last_name"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Last name</label
        >
      </div>
    </div>
    <div class="grid md:grid-cols-2 md:gap-6">
      <div class="relative z-0 w-full mb-6 group">
        <input
          type="tel"
          [(ngModel)]="phone"
          pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
          name="floating_phone"
          id="floating_phone"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "
          required
        />
        <label
          for="floating_phone"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Phone number (999 999 999)</label
        >
      </div>
      <div class="relative z-0 w-full mb-6 group">
        <input
          type="text"
          [(ngModel)]="company"
          id="floating_company"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "
          required
        />
        <label
          for="floating_company"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Company (Ex. Google)</label
        >
      </div>
    </div>
    <div class="text-center">
      <button
        (click)="saveUser()"
        type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Submit
      </button>
    </div>
  </div>
</div>
<div class="w-2/5 mx-auto mt-5">
  <div>
    <tr>
      <th>User</th>
      <th>User</th>
      <th>User</th>
      <th>User</th>
      <th>User</th>
      <th>User</th>
      <th>User</th>
      <th>User</th>
    </tr>
    <tr>
      <td class="mr-2">{{ newusername }}</td>
      <td class="mr-2">{{ newemail }}</td>
      <td class="mr-2">{{ newpassword }}</td>
      <td class="mr-2">{{ newrepeatPassword }}</td>
      <td class="mr-2">{{ newfirstName }}</td>
      <td class="mr-2">{{ newlastName }}</td>
      <td class="mr-2">{{ newphone }}</td>
      <td class="mr-2">{{ newcompany }}</td>
    </tr>
  </div>
</div> -->

<div class="w-[50%] mx-auto my-5 shadow-xl px-5">
  <div class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput type="text"
        [(ngModel)]="name">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Apellido Paterno</mat-label>
        <input matInput type="text"
        [(ngModel)]="lastNamePat">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Apellido Materno</mat-label>
        <input matInput type="text"
        [(ngModel)]="lastNameMot">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput type="text"
        [(ngModel)]="username">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email"
        [(ngModel)]="email">
      </mat-form-field>
      
    
      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password"
          [(ngModel)]="password">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <mat-label>Confirma Contraseña</mat-label>
          <input matInput type="password"
          [(ngModel)]="repeatPassword">
        </mat-form-field></td>
      </tr></table>
      
      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width">
          <mat-label>Region</mat-label>
          <input matInput placeholder="Ej. Ucayali"
          [(ngModel)]="region">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <mat-label>Pais</mat-label>
          <input matInput placeholder="Ej. Perú" 
          [(ngModel)]="pais">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <mat-label>Codigo postal</mat-label>
          <input matInput placeholder="Ej. 94105" 
          [(ngModel)]="codPostal">
        </mat-form-field></td>
      </tr></table>
    </div>
    
    <div class="example-button-row py-3 text-center">
      <button mat-fab extended color="primary" 
      (click)="saveUser()">
        <mat-icon>save</mat-icon>
        Guardar
      </button>
    </div>
    <div class="mt-3">
      <p>{{cadena}}</p>
    </div>
</div>



